<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<button onclick = "location.href = 'home/pdfgen'">형꺼</button>
<button onclick = "location.href = 'home/pdf_2'">청구서</button>
<button onclick = "location.href = 'home/pdf_3'">invoice</button>
<button onclick = "location.href = 'home/pdf_4'">입출급관리</button>
